* {
    font-family: Inter, system-ui, sans-serif;
    color: white;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(#222, #000)
}

h1 {
    font-size: 70px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: fit-content;
}

p#sub {
    opacity: 0.7;
    margin-top: 10px;
}

a {
    opacity: 0.8;
    transition: .2s;
}

a:hover {
    opacity: 1;
}